body {
  display: flex;
  flex-flow: row nowrap;
}

h1 {
  height: 10vh;
  width: 100vh;
}

p {
  display: inline-block;
  height: 20vh;
  width: 20vh;
}

header {
  background-color: black;
  color: white;
}

form {
  color: yellow;
}
